[Unit]
Description=FireHOL L1 and L2 Deduplicator and Aggregator
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/firehol-differ-delta
User=firehol-differ-delta
Group=firehol-differ-delta
StateDirectory=firehol-differ-delta
StateDirectoryMode=0750
LogsDirectory=firehol-differ-delta
WorkingDirectory=/etc/firehol-differ-delta
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
